/* 
Author: Salsabila Laily Rahma
Type: CSS
*/

body {
	margin: 0;
	padding: 0;
	font-family: 'Crimson Text', serif;
}

nav {
	height: 60 px;
	width: 100%;
	padding: 16px;
	background-color: pink;
	color: purple;
}

li {
	list-style-type: none;
	display: inline-block;
	padding: 8px;
}

nav img {
	padding-top: 0;
}